
.popup {
    margin: 70px auto;
    padding: 10px 15px;
    border-radius: 5px;
    width: 30%;
    position: fixed;
    left: 20px;
    bottom: 50px;
    z-index: 99999;
    background-color: #121212e1;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    animation-name: showPopUp;
    animation-duration: .6s;
}

.popup h2 {
    margin-top: 0;
    color: rgb(97, 182, 0);
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}

.popup .close:hover {
    color: #fc2516;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: white;
    padding-top: 10px;
    border: none;
    padding: 10px 0 0 5px;
    margin: 0;
}

@keyframes showPopUp {
    from {
        left: -440px;
    }

    to {
        left: 20px;
    }
}
@keyframes hidPopUp {
    from {
        left: 20px;
    }

    to {
        left:-440px;
    }
}