.newsletter-container{
    background-color: black;
    color: white;
    margin: 20px auto 0 auto;
}
.newsletter-container .newsletter h1 ,
.newsletter-container .newsletter p {
    color: white;
}
.newsletter-container .newsletter{
    background-color: black;
    color: white;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
}

.newsletter-container .newsletter h1 , .newsletter-container .newsletter .error-container{
    display: flex;
    gap: 40px;
}

.newsletter-container .newsletter h1 , .newsletter-container .newsletter .error-container .error{
    color: #b16868;
    font-weight: 800;
}
.newsletter-container .newsletter h1 , .newsletter-container .newsletter p{
    padding: 0 0 10px 0;
}
.newsletter-container .newsletter form input[type='email']{
    display: block;
    border: 1px solid #fff;
    padding: 10px;
    width: 600px;
    outline: none;
}
.newsletter-container .newsletter form input[type='email']:focus{
    border: 1px solid #b16868;
}
.newsletter-container .newsletter form button{
    padding: 12px 24px;
    margin-top: 10px;
    margin-bottom: 0;
    border: none;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 0px 3px 0px white;
    z-index: 1;
    width: 200px;
}
.newsletter-container .newsletter form button[type="button"]{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: .6;
    cursor: not-allowed;
}
.newsletter-container .newsletter form button *{
    color: white;
}
.newsletter-container .newsletter form button:hover{
    opacity: .9;
}

@media (max-width:700px) {
    .newsletter-container .newsletter form input[type='email']{
       width: 500px;
    }
}
@media (max-width:565px) {
     
    .newsletter-container .newsletter form input[type='email']{
       width: 400px;
    }
}
@media (max-width:465px) {
    .newsletter-container .newsletter form input[type='email']{
       width: 300px;
    }
}
@media (max-width:400px) {
    .newsletter-container .newsletter{
        padding: 5px;
    }
    .newsletter-container .newsletter form input[type='email']{
       width: 300px;
    }
}
@media (max-width:350px) {
    .newsletter-container .newsletter form input[type='email']{
       width: 90%;
       margin-right: 5px;
    }
}